body {
  background: linear-gradient(to left, #085078, #85D8CE);
  background-color: #85D8CE;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  font: 2.5em Impact, sans-serif;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
}

a {
  color: #fff;
}

.menu {
  padding: 0;
}

.menu-item {
  display: inline-block;
  text-transform: lowercase;
}

.menu-item a {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  padding: 1em 2em;
  text-decoration: none;
}

.menu-item a:hover,
.menu-item .active {
  background-color: rgba(0, 0, 0, 0.3);
}

.buttons {
  margin: 0;
}

button,
input[type=range] {
  box-sizing: border-box;
  background: linear-gradient(to bottom, #fff 5%, #f6f6f6 100%);
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px 0px #fff;
  margin: 3px 0;
  padding: 6px 16px;
  vertical-align: middle;
  height: 30px; 
}

button {
  cursor: pointer;
  color: #555;
  font: bold 12px Arial;
  text-shadow: 0px 1px 0px #ffffff;
}

button:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

button:active {
  position: relative;
  top: 1px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #999;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #F0F0F0;
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: -6px;
}

input[type=range]::-moz-range-thumb {
  border-radius: 50%;
  cursor: pointer;
}

#speed {
  width: 110px;
}

#play {
  width: 80px;
}

.info {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  margin-top: 2em;
  padding: 1em 0;
  text-align: left;
}

.inner {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}